

body {
    background:black;
    background-size: cover;
    background-attachment: fixed;
    overflow:hidden;
}

#fundo {
    width:100vw;
    height:100vh;
}

#fundo #img {
    width:100%;
    height: 100%;
    position: absolute;
    right: 0;
    border:0;
}

#fundo #img::after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    height:100vh;
    width:50%;
    background:linear-gradient(-250deg, #000 45%, rgba(0, 0, 0, 0) 70%) no-repeat;
    z-index:1;
}

#fundo #img video {
    width:120%;
    height:100%;
    left:0;
}

#fundo #menu {
    border-radius: 5px;
    overflow:hidden;
    position:absolute;
    top:1vh;
    right:0;
    display:flex;
    justify-content: center;
    align-items: center;
    width:40vw;
    height:8vh;
    background:rgba(0, 0, 0, 0.349);
}

#fundo #menu #user {
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    height:100%;
}

#fundo #menu #user img {
    margin:0px 15px;
    width:20%;
    height:100%;
    border-radius:50%;
    background:none;
}

#fundo #menu #user p {
    color:white;
    font-size:16pt;
    font-weight: 600;
}

#fundo #compras {
    width:10%;
    height:100%;
    margin-right:30px;
    background:none;
    border:none;
}

#fundo #compras img {
    width:60%;
    height:60%;
}

#pont {
    display:flex;
    align-items: center;
    width:13vw;
    height:5vh;
    border-radius:10px;
    border:1px solid gray;
    overflow:hidden;
    background:#161616de;
}

#pont input {
    background-color: transparent;
    border:none;
    text-align: center;
    width:76%;
    height:100%;
    outline:none;
}

#pont input::placeholder {
    font-size: 12pt;
    font-weight: 550;
    color:white;
}

#pont img {
    width:26%;
    height:100%;
    background:transparent;
}

#cont {
    width: 100%;
    height:50vh;
    background:linear-gradient(to top, black, rgba(0,0,0,0.8), rgba(0,0,0,0.0));
    position: fixed;
    bottom:0;
    z-index:2;
}

#cont #paimon {
    width:25vw;
    height:100%;
    position: relative;
    left:0;
    display:flex;
    justify-content: center;
    align-items: center;
}

#cont #paimon img {
    width:70%;
    height:100%;
}

#cont #pergunta {
    width:75vw;
    height:80%;
    position: absolute;
    right:0;
    bottom:0;
}

#cont #pergunta p {
    width: 96%;
    height:16vh;
    margin:10px auto;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:16pt;
    font-weight: bold;
    color:white;
}

#cont #pergunta input {
    outline: none;
    text-align: center;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    border:2px solid black;
    background:#161616;
    color:white;
    width:30vw;
    height:5vh;
}

#cont #pergunta #btns {
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:8vh;
}

#cont #pergunta #btns #btn {
    text-align: center;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    cursor:pointer;
    border:2px solid black;
    background:purple;
    color:white;
    font-size:18pt;
    width:5vw;
    height:5.5vh;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cont #pergunta #btns #btn img {
    width:40%;
    height:80%;
}

#cont #pergunta #btns #btnDica {
    display:none;
    cursor:pointer;
    margin:0px 10px;
    width:3vw;
    height:5.5vh;
    background:none;
    border:none;
}

#cont #pergunta #btns #btnDica img {
    width:100%;
    height:100%;
}

#cont #pergunta #btns #btn:disabled {
    background:rgba(66, 0, 66, 0.822);
}

#cont #pergunta #btnAgain {
    display:none;
    cursor:pointer;
    border:2px solid black;
    background:purple;
    border-radius:5px;
    color:white;
    position:absolute;
    width:12vw;
    height:6vh;
    margin-top:2vh;
    left:42%;
}

#cont #pergunta #vidas {
    width:100%;
    height:10vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

#cont #pergunta #vidas img {
    width:3vw;
    height:6vh;
    margin:0 10px;
}

#comprar {
    display:none;
    width:100%;
    height:100%;
    background:#161616;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    overflow-x: hidden;
    overflow-y: auto;
}

#comprar::-webkit-scrollbar {
    width: 6px;
}
  
#comprar::-webkit-scrollbar-thumb {
    border: 1px solid black; 
    background:#dd1440;
    border-radius: 6px; 
}
  
#comprar::-webkit-scrollbar-track {
    background-color:transparent;
}

#comprar #title {
    width:100%;
    height:10vh;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom:2px solid #dd1440;
}

#comprar #title p {
    color:white;
    font-size:20pt;
    font-weight: 600;
}

#comprar #title button {
    background:none;
    border:none;
    font-size:18pt;
    position: fixed;
    right:2vw;
    width:4vw;
    height:5vh;
    top:2vh;
    color:#dd1440;
}

#comprar #itens {
    margin-top:5vh;
    width:100%;
    height:90%;
}

#comprar #itens #comprarVidas {
    width:100%;
    height:45vh;
    margin-top:6vh;
    overflow:hidden;
    display:flex;
    justify-content: center;
}

#comprar #itens #comprarVidas .restVida {
    width:16%;
    margin: 0px 10px;
    height:100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow:hidden;
    text-align: center;
}

#comprar #itens #comprarVidas .restVida img {
    width:55%;
    height:40%;
}

.overCora {
    margin-bottom: -25vh;
    animation:overCora 1.5s linear;
}

#comprar #itens #comprarVidas .restVida p {
    font-size:12pt;
    font-weight: 600;
    color:white;
    width:90%;
    height:20%;
    margin:8px 0px;
}

#comprar #itens #comprarVidas .restVida button {
    width:75%;
    overflow: hidden;
    height:16%;
    background:black;
    border-radius: 10px;
    border: 2px solid #dd1440;
    color:white;
    font-weight: 600;
    margin-top:10px;
}

#contUser {
    display:none;
    width:100%;
    height:100%;
    background:#161616;
    position: absolute;
    left:0;
    top:0;
    z-index:2;
    overflow-x: hidden;
    overflow-y: auto;
}

#contUser::-webkit-scrollbar {
    width: 6px;
}
  
#contUser::-webkit-scrollbar-thumb {
    border: 1px solid black; /* Cor da parte móvel da barra de rolagem */
    background:#dd1440;
    border-radius: 6px; /* Borda arredondada da parte móvel */
}
  
#contUser::-webkit-scrollbar-track {
    background-color:transparent; /* Cor de fundo da barra de rolagem */
}

#contUser #editPerfil {
    color:white;
    font-size:20pt;
    width:100%;
    height:10vh;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom:2px solid #dd1440;
}

#contUser #editPerfil p {
    color:white;
    font-size:20pt;
    font-weight: 600;
}

#contUser #editPerfil button {
    background:none;
    border:none;
    font-size:18pt;
    position: fixed;
    right:2vw;
    width:4vw;
    height:5vh;
    top:2vh;
    color:#dd1440;
}

#contUser #imgPerfil {
    margin-top:5vh;
    width:100%;
    height:36vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contUser #imgPerfil img {
    width:18%;
    height:100%;
    border: 2px solid #dd1440;
    border-radius:50%;
}

#contUser #editName {
    width:100%;
    height:8vh;
    margin-top:15px;
    display:flex;
    align-items: center;
    justify-content: center;
}

#contUser #nickName {
    width:40%;
    height:5vh;
    margin:0px 10px;
    background:#030303;
    border:1px solid white;
    color:white;
    text-align: center;
    border-radius:15px;
    font-size:12pt;
    font-weight: bold;
    outline: none;
}

#contUser #color {
    width:4%;
    height:5vh;
    outline: none;
    background:#030303;
    border:1px solid white;
}

#selectImg {
    width:100%;
    height:100vh;
    margin-top:5vh;
    overflow-x: hidden;
    overflow-y: auto;
    border-top:2px solid #dd1440;
    border-bottom:2px solid #dd1440;
}

#selectImg #city {
    width:100%;
    height:20vh;
    margin:30px 0px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#selectImg #city img {
    width:10vw;
    height:20vh;
    margin-right:2vw;
}

#selectImg #city p {
    font-size:30pt;
    font-weight: bold;
    color:white;
}

#selectImg::-webkit-scrollbar {
    width: 6px;
}
  
#selectImg::-webkit-scrollbar-thumb {
    background-color: transparent; /* Cor da parte móvel da barra de rolagem */
    border-radius: 6px; /* Borda arredondada da parte móvel */
}
  
#selectImg::-webkit-scrollbar-track {
    background-color:transparent; /* Cor de fundo da barra de rolagem */
}

#selectImg .personagens {
    width:100%;
    height:35vh;
    margin-bottom:2vh;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}

#selectImg .personagens .card {
    width:20%;
    height:90%;
    margin:0px 10px;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #dd1440;
    background:linear-gradient(90deg, rgb(90, 80, 37),rgb(194, 162, 56), rgb(228, 193, 79));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#selectImg .personagens .card4 {
    width:20%;
    height:90%;
    margin:0px 10px;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #dd1440;
    background:linear-gradient(90deg, rgb(66, 35, 83),rgb(135, 98, 165), rgb(162, 134, 228));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#selectImg .personagens .card6 {
    width:20%;
    height:90%;
    margin:0px 10px;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #dd1440;
    background:linear-gradient(90deg, #8a1830, #da153f, #e7234d);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#selectImg .personagens .disabled img {
    filter: grayscale(1);
}

#selectImg .personagens .card img {
    width:80%;
    height:100%;
}

#selectImg .personagens .card4 img {
    width:80%;
    height:100%;
}

#selectImg .personagens .card6 img {
    width:80%;
    height:100%;
}

#btnPerfil {
    width:100%;
    height:5vh;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:5vh;
    margin-bottom:5vh;
}

#cancelar {
    background:#000000;
    border:2px solid #06162c;
    border-radius:5px;
    color:white;
    font-size: 10pt;
    font-weight: bold;
    width:10vw;
    height:100%;
    margin-right:70vw;
}

#salvar {
    color:white;
    background:#dd1440;
    border:2px solid rgb(54, 3, 3);
    border-radius:5px;
    font-size: 10pt;
    font-weight: bold;
    width:10vw;
    height:100%;
}

#divCompra {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background:rgba(0, 0, 0, 0.884);
    z-index:2;
    display:none;
}

#divCompra #caracter {
    width: 100%;
    height:100%;
}

#divCompra #caracter button {
    background:transparent;
    font-size:20pt;
    text-align: center;
    width:4vw;
    height:6vh;
    color:white;
    position:fixed;
    border:none;
    right:2vw;
    top:2vh;
}

#divCompra #caracter #imgCaracter {
    position:fixed;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    width:85%;
    height:100%;
    animation:openPerson 0.5s linear;
}

#divCompra #caracter #element {
    display:flex;
    justify-content: center;
    align-items: center;
    width:30vw;
    height:20vh;
    position:absolute;
    left:20%;
    top:58%;
    transform: translate(-50%, -50%);
    overflow:hidden;
}

#divCompra #caracter #element #imgElement {
    position:fixed;
    left:0;
    width:28%;
    height:80%;
    animation: openIcon 0.5s linear;
}

#divCompra #caracter #element #text {
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
    text-align: center;
    width:90%;
    height:100%;
    right:0;
}

#divCompra #caracter #element #text #nomeCaracter {
    font-size:28pt;
    color:white;
    overflow: hidden;
}

#divCompra #caracter #element #text p {
    font-size:14pt;
}

#init {
    cursor: url("http://www.rw-designer.com/cursor-view/168734.png"), auto;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100vh;
    overflow:hidden;
    position:absolute;
    background:white;
    top:0;
    left:0;
    z-index:3;
}

#init #initImg {
    position:absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    width:30vw;
    height:30vh;
    opacity: 0;
}

#init #initImg2 {
    position:absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    width:23vw;
    height:20vh;
    opacity: 0;
}

/*Animações*/

@keyframes open {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@keyframes overCora {
    from {
        margin-bottom:0vh;
    }50% {
        filter:grayscale(50%);
        margin-bottom:2vh;
    }80% {
        filter:grayscale(100%);
        margin-bottom:-20vh;
    } 
    90% {
        margin-bottom:-25vh;
    }
    to {
        margin-bottom:-25vh;
    }
}

@keyframes openPerson {
    from {
        opacity:0;
    }to {
        opacity:1;
    }
}

@keyframes openIcon {
    from {
        width:0;
        height:0;
    }to {
        width:28%;
        height:80%;
    }
}

@keyframes init {
    from {
        opacity: 0;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

@keyframes init2 {
    from {
        opacity: 0;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}
